<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>113409526_蔡晟郁 詳細頁</title>
    <link rel="stylesheet" href="../static/css/113409526_css.css">
</head>
<body>
    <h1>嗨 歡迎來到我的詳細介紹頁!</h1>

    <h2>🎵 我最愛的音樂之一 HYBS - Tip Toe</h2>
    <div>
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/4pLUtYk1b0A" 
            title="HYBS - Tip Toe (Official Music Video)" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
    
</body>
</html>