<!doctype html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>113409526_蔡晟郁</title>
    <link rel="stylesheet" href="../static/css/113409526_css.css">
</head>
<body>
    <h1>嗨HTML!我是CHENGYU!</h1>
    <table border="1">
        <tr cellpadding="10">
            <th>照片</th>
            <th>關於我</th>
        </tr>
        <tr>
            <td>
                <img src="../static/img/page1/09coy-image-master1050.jpg" alt="我的照片" width="300px">
            </td>
            <td>
                來自嘉義，目前就讀中央經濟大二
            </td>
        </tr>
        <tr>
            <td>    
                <img src="../static/img/page1/378a0c33ffde7f3bb1352f4.jpg" alt="我的照片" width="300px">
            </td>
            <td>
                我喜歡慢跑，每次回嘉義沒有一次不慢跑的
            </td>
        </tr>
        <tr>
            <td>    
                <img src="../static/img/page1/-qpeemo9of084vuiwkiijcnu9afmgxl2cn0nqa10tts.jpeg" alt="我的照片" width="300px">
            </td>
            <td>
                我喜歡HYBS，一組世界知名的雙人Rnb團體，因為他們的歌聲很有特色，圖為他們的最佳專輯
            </td>  
        </tr> 
    </table> 
    <p>
        <a href="113409526_detail.html">點我看更多關於我的資訊</a>
    </p>
</body>
</html>